<%= simple_form_for (@trip) do |f| %>
  <div class="container grid grid-cols-2 px-10">
      <div class="border-r">
          <h1 class="uppercase text-4xl mt-8 ml-8 tracking-wide">
            Edit your trip
          </h1>
            <%= f.input :trip_name, label: false, label: "Give your trip a name",placeholder: "Exploring the streets of Shanghai", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"}, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"} %>
            <%= f.input :country, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, autofill: true,  collection: @countries = [
        "Afghanistan",
        "Albania",
        "Algeria",
        "American Samoa",
        "Andorra",
        "Angola",
        "Anguilla",
        "Antarctica",
        "Antigua Barbuda (and)",
        "Argentina",
        "Armenia",
        "Aruba",
        "Australia",
        "Austria",
        "Azerbaijan",
        "Bahamas",
        "Bahrain",
        "Bangladesh",
        "Barbados",
        "Belarus",
        "Belgium",
        "Belize",
        "Benin",
        "Bermuda",
        "Bhutan",
        "Bolivia",
        "Bonaire, Sint Eustatius and Saba",
        "Bosnia Herzegovina",
        "Botswana",
        "Bouvet Island",
        "Brazil",
        "British Indian Ocean Territory",
        "Brunei Darussalam",
        "Bulgaria",
        "Burkina Faso",
        "Burundi",
        "Cabo Verde",
        "Cambodia",
        "Cameroon",
        "Canada",
        "Cayman Islands",
        "Central African Republic",
        "Chad",
        "Chile",
        "China",
        "Christmas Island",
        "Cocos Islands",
        "Colombia",
        "Comoros",
        "DR Congo",
        "Congo",
        "Cook Islands",
        "Costa Rica",
        "Croatia",
        "Cuba",
        "Curaçao",
        "Cyprus",
        "Czechia",
        "Côte d'Ivoire",
        "Denmark",
        "Djibouti",
        "Dominica",
        "Dominican Republic",
        "Ecuador",
        "Egypt",
        "El Salvador",
        "Equatorial Guinea",
        "Eritrea",
        "Estonia",
        "Eswatini",
        "Ethiopia",
        "Falkland Islands [Malvinas]",
        "Faroe Islands",
        "Fiji",
        "Finland",
        "France",
        "French Guiana",
        "French Polynesia",
        "Gabon",
        "Gambia",
        "Georgia",
        "Germany",
        "Ghana",
        "Gibraltar",
        "Greece",
        "Greenland",
        "Grenada",
        "Guadeloupe",
        "Guam",
        "Guatemala",
        "Guernsey",
        "Guinea",
        "Guinea-Bissau",
        "Guyana",
        "Haiti",
        "Heard Island and McDonald Islands",
        "Holy See",
        "Honduras",
        "Hong Kong",
        "Hungary",
        "Iceland",
        "India",
        "Indonesia",
        "Iran",
        "Iraq",
        "Ireland",
        "Isle of Man",
        "Israel",
        "Italy",
        "Jamaica",
        "Japan",
        "Jersey",
        "Jordan",
        "Kazakhstan",
        "Kenya",
        "Kiribati",
        "North Korea",
        "South Korea",
        "Kuwait",
        "Kyrgyzstan",
        "Lao People's Democratic Republic",
        "Latvia",
        "Lebanon",
        "Lesotho",
        "Liberia",
        "Libya",
        "Liechtenstein",
        "Lithuania",
        "Luxembourg",
        "Macao",
        "Madagascar",
        "Malawi",
        "Malaysia",
        "Maldives",
        "Mali",
        "Malta",
        "Marshall Islands",
        "Martinique",
        "Mauritania",
        "Mauritius",
        "Mayotte",
        "Mexico",
        "Micronesia",
        "Moldova",
        "Monaco",
        "Mongolia",
        "Montenegro",
        "Montserrat",
        "Morocco",
        "Mozambique",
        "Myanmar",
        "Namibia",
        "Nauru",
        "Nepal",
        "Netherlands",
        "New Caledonia",
        "New Zealand",
        "Nicaragua",
        "Niger",
        "Nigeria",
        "Niue",
        "Norfolk Island",
        "Northern Mariana Islands",
        "Norway",
        "Oman",
        "Pakistan",
        "Palau",
        "Palestine",
        "Panama",
        "Papua New Guinea",
        "Paraguay",
        "Peru",
        "Philippines",
        "Pitcairn",
        "Poland",
        "Portugal",
        "Puerto Rico",
        "Qatar",
        "North Macedonia",
        "Romania",
        "Russian Federation",
        "Rwanda",
        "Réunion",
        "Saint Barthélemy",
        "Saint Helena, Ascension and Tristan da Cunha",
        "Saint Kitts and Nevis",
        "Saint Lucia",
        "Saint Martin (French part)",
        "Saint Pierre and Miquelon",
        "Saint Vincent and the Grenadines",
        "Samoa",
        "San Marino",
        "Sao Tome and Principe",
        "Saudi Arabia",
        "Senegal",
        "Serbia",
        "Seychelles",
        "Sierra Leone",
        "Singapore",
        "Sint Maarten (Dutch part)",
        "Slovakia",
        "Slovenia",
        "Solomon Islands",
        "Somalia",
        "South Africa",
        "South Georgia and the South Sandwich Islands",
        "South Sudan",
        "Spain",
        "Sri Lanka",
        "Sudan",
        "Suriname",
        "Svalbard",
        "Sweden",
        "Switzerland",
        "Syrian Arab Republic",
        "Taiwan",
        "Tajikistan",
        "Tanzania",
        "Thailand",
        "Timor-Leste",
        "Togo",
        "Tokelau",
        "Tonga",
        "Trinidad Tobago",
        "Tunisia",
        "Turkey",
        "Turkmenistan",
        "Turks Caicos Islands",
        "Tuvalu",
        "Uganda",
        "Ukraine",
        "United Arab Emirates",
        "United Kingdom of Great Britain and Northern Ireland",
        "United States of America",
        "Uruguay",
        "Uzbekistan",
        "Vanuatu",
        "Venezuela",
        "Viet Nam",
        "Virgin Islands (British)",
        "Virgin Islands (U.S.)",
        "Wallis and Futuna",
        "Western Sahara",
        "Yemen",
        "Zambia",
        "Zimbabwe",
        "Åland Islands"
    ], as: :select, label: "Country", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"} %>
            <%= f.input :max_people,  error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, label: "Max number of people", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"} %>
            <%= f.input :pets, as: :radio_buttons, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, label: "Are pets allowed?", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"ml-6 w-4 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"} %>
            <%= f.input :start_date, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"} %>
            <%= f.input :end_date, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"}, error: "Please choose a date" %>
            <%= f.input :description, lerror_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, label: "Tell us a bit more about your trip", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: { class: "text-darkblue border outline-darkblue w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"}, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"} %>
            <div class="ml-8">
              <h1 class="uppercase text-2xl mt-12 tracking-wide border-b-2 border-yellow w-96">Categories</h1>
                <div class="flex flex-wrap w-96">
                  <h1 class="mb-2">Choose 4 tags that apply to your trip</h1>
                  <%= f.input :activities, as: :check_boxes, error_html: { class: "mt-2 text-xs text-red-400 uppercase"}, label: false,
                  collection: [['surfing'],['hiking'],['kayaking'],['diving'],['racing'],['climbing'],['skydiving'],['partying'],['meditation'],['volunteering'],['wine tasting'],['fishing'],['hunting'],['other']], label_method: :first, value_method: :first, wrapper_html: { class: "grid grid-cols-2 gap-2 pl-2"}, input_html: { class: "m-2"} %>
                </div>
            </div>
      </div>
      <div class="flex justify-center">
        <div class="fixed right-2">
          <%= f.input :photos, as: :file, error: "Please upload upto 5 photos", error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, wrapper_html: { class: "mt-8 w-96" }, hint: "Please upload 5 pictures", hint_html: {class: "text-gray-500"}, input_html: { multiple: true, class: "mb-4 mt-4 w-96"}, label_html: { class: "border-b-2 border-yellow w-96 font-bold upload uppercase text-4xl tracking-wide"} %>
        </div>
      </div>

    <div class="container flex justify-start mt-6">
      <%= f.submit "UPDATE", class: "-mt-10 ml-8 btn item-center w-48 bg-yellow text-darkblue font-bold text-sm font-bold leading-tight uppercase rounded shadow-md" %>
      <% end %>
    </div>
  </div>
