<%= simple_form_for (@trip) do |f| %>
  <div class="container grid grid-cols-1 md:grid-cols-2 px-10">
    <div class="border-r">
      <h1 class="uppercase text-4xl mt-8 ml-8 tracking-wide">
        Create a trip
      </h1>
      <%= f.input :trip_name, label: false, label: "Give your trip a name",placeholder: "Exploring the streets of Shanghai", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"}, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"} %>
      <%= f.input :country, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, collection: @countries = [
            "Afghanistan",
            "Albania",
            "Algeria",
            "Andorra",
            "Angola",
            "Anguilla",
            "Antigua and Barbuda",
            "Argentina",
            "Armenia",
            "Aruba",
            "Australia",
            "Austria",
            "Azerbaijan",
            "Bahamas",
            "Bahrain",
            "Bangladesh",
            "Barbados",
            "Belarus",
            "Belgium",
            "Belize",
            "Benin",
            "Bermuda",
            "Bhutan",
            "Bolivia",
            "Bosnia and Herzegovina",
            "Botswana",
            "Brazil",
            "British Virgin Islands",
            "Brunei",
            "Bulgaria",
            "Burkina Faso",
            "Burundi",
            "Cambodia",
            "Cameroon",
            "Cape Verde",
            "Cayman Islands",
            "Chad",
            "Chile",
            "China",
            "Colombia",
            "Congo",
            "Cook Islands",
            "Costa Rica",
            "Cote D'Ivoire",
            "Croatia",
            "Cruise Ship",
            "Cuba",
            "Cyprus",
            "Czech Republic",
            "Denmark",
            "Djibouti",
            "Dominica",
            "Dominican Republic",
            "Ecuador",
            "Egypt",
            "El Salvador",
            "Equatorial Guinea",
            "Estonia",
            "Ethiopia",
            "Falkland Islands",
            "Faroe Islands",
            "Fiji",
            "Finland",
            "France",
            "French Polynesia",
            "French West Indies",
            "Gabon",
            "Gambia",
            "Georgia",
            "Germany",
            "Ghana",
            "Gibraltar",
            "Greece",
            "Greenland",
            "Grenada",
            "Guam",
            "Guatemala",
            "Guernsey",
            "Guinea",
            "Guinea Bissau",
            "Guyana",
            "Haiti",
            "Honduras",
            "Hong Kong",
            "Hungary",
            "Iceland",
            "India",
            "Indonesia",
            "Iran",
            "Iraq",
            "Ireland",
            "Isle of Man",
            "Israel",
            "Italy",
            "Jamaica",
            "Japan",
            "Jersey",
            "Jordan",
            "Kazakhstan",
            "Kenya",
            "Kuwait",
            "Kyrgyz Republic",
            "Laos",
            "Latvia",
            "Lebanon",
            "Lesotho",
            "Liberia",
            "Libya",
            "Liechtenstein",
            "Lithuania",
            "Luxembourg",
            "Macau",
            "Macedonia",
            "Madagascar",
            "Malawi",
            "Malaysia",
            "Maldives",
            "Mali",
            "Malta",
            "Mauritania",
            "Mauritius",
            "Mexico",
            "Moldova",
            "Monaco",
            "Mongolia",
            "Montenegro",
            "Montserrat",
            "Morocco",
            "Mozambique",
            "Namibia",
            "Nepal",
            "Netherlands",
            "Netherlands Antilles",
            "New Caledonia",
            "New Zealand",
            "Nicaragua",
            "Niger",
            "Nigeria",
            "Norway",
            "Oman",
            "Pakistan",
            "Palestine",
            "Panama",
            "Papua New Guinea",
            "Paraguay",
            "Peru",
            "Philippines",
            "Poland",
            "Portugal",
            "Puerto Rico",
            "Qatar",
            "Reunion",
            "Romania",
            "Russia",
            "Rwanda",
            "Saint Pierre and Miquelon",
            "Samoa",
            "San Marino",
            "Satellite",
            "Saudi Arabia",
            "Senegal",
            "Serbia",
            "Seychelles",
            "Sierra Leone",
            "Singapore",
            "Slovakia",
            "Slovenia",
            "South Africa",
            "South Korea",
            "Spain",
            "Sri Lanka",
            "St Kitts and Nevis",
            "St Lucia",
            "St Vincent",
            "St. Lucia",
            "Sudan",
            "Suriname",
            "Swaziland",
            "Sweden",
            "Switzerland",
            "Syria",
            "Taiwan",
            "Tajikistan",
            "Tanzania",
            "Thailand",
            "Timor L'Este",
            "Togo",
            "Tonga",
            "Trinidad and Tobago",
            "Tunisia",
            "Turkey",
            "Turkmenistan",
            "Turks and Caicos",
            "Uganda",
            "Ukraine",
            "United Arab Emirates",
            "United Kingdom",
            "United States of America",
            "Uruguay",
            "Uzbekistan",
            "Venezuela",
            "Vietnam",
            "Virgin Islands (US)",
            "Yemen",
            "Zambia",
            "Zimbabwe"
    ], as: :select, label: "Country", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"} %>
      <%= f.input :max_people,  error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, label: "Max number of people", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"} %>
      <%= f.input :pets, as: :radio_buttons, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, label: "Are pets allowed?", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"ml-6 w-4 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"} %>
      <%= f.input :start_date, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"} %>
      <%= f.input :end_date, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: {class:"w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"}, error: "Please choose a date" %>
      <%= f.input :description, lerror_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, label: "Tell us a bit more about your trip", wrapper_html: { class: "mt-8 px-8 w-96" }, input_html: { class: "text-darkblue border outline-darkblue w-96 rounded-md border border-transparent drop-shadow"}, label_html: { class: "text-gray-500"}, error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"} %>
      <div class="ml-8">
        <h1 class="uppercase text-2xl mt-12 tracking-wide border-b-2 border-yellow w-96">Categories</h1>
        <div class="flex flex-wrap w-96">
          <h1 class="mb-2">Choose 4 tags that apply to your trip</h1>
          <%= f.input :activities, as: :check_boxes, error_html: { class: "mt-2 text-xs text-red-400 uppercase"}, label: false,
                  collection: [['surfing'],['sightseeing'],['hiking'],['kayaking'],['diving'],['racing'],['climbing'],['skydiving'],['party'],['meditation'],['volunteering'],['wine tasting'],['fishing'],['hunting'],['theme parks'],['convention'],['beach'],['sports'],['spa'],['music'],['other']], label_method: :first, value_method: :first, wrapper_html: { class: "grid grid-cols-2 gap-2 pl-2"}, input_html: { class: "m-2"}, include_hidden: false %>
        </div>
      </div>
    </div>
    <div class="relative justify-center">
      <div class="fixed ml-10">
        <%= f.input :photos, as: :file, error: "Please upload upto 5 photos", error_html: { class: "flex flex-row mt-2 text-xs text-red-400 uppercase"}, wrapper_html: { class: "mt-8 w-96" }, hint: "Please upload 5 pictures", hint_html: {class: "text-gray-500"}, input_html: { multiple: true, class: "mb-4 mt-4 w-96"}, label_html: { class: "border-b-2 border-yellow w-96 font-bold upload uppercase text-4xl tracking-wide"} %>
        <div id="output" class="grid grid-cols-4"></div>
      </div>
    </div>
    <div class="container flex justify-start mt-6">
      <%= f.submit "CREATE", class: "-mt-10 ml-8 btn item-center w-48 bg-yellow text-darkblue font-bold text-sm font-bold leading-tight uppercase rounded shadow-md" %>
    <% end %>
  </div>
</div>
