<div class="container">
  <div class="grid grid-cols-2">
    <div class="mr-12 rounded relative " style="background-image: url(<%= @trip.trip_img %>); background-size: cover;">
      <div class="content-end " style="background-image: linear-gradient(to left, rgba(0,0,0,0.2), rgba(0,0,0,.5));">
        <h2 class="w-1/4 h-96 text-white ml-2">
          <%= @trip.trip_name.capitalize %> in <%= @trip.country.capitalize %>
          <%# <img class="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Shanghai_-_Pudong_-_Lujiazui.jpg/800px-Shanghai_-_Pudong_-_Lujiazui.jpg" alt=""> %>
        </h2>
        <div class="absolute left-2 bottom-6 mb-2 ">
          <%# make a list of attendees by id %>
          <% list = [] %>
          <% @trip.attendees.each do |attendee| %>
            <% list << attendee.user_id %>
          <% end %>
          <%# check if already attending %>
          <% if (user_signed_in?) then %>
            <% current_user_attendee_id = "" %>
            <%# cancel attendance button %>
            <% if list.include?(current_user.id) %>
              <% @trip.attendees.each do |attendee| %>
                <% if attendee.user_id == current_user.id %>
                  <% current_user_attendee_id = attendee.id %>
                <% end %>
              <% end %>
              <%= button_to "/trips/#{@trip.id}/attendees/#{current_user_attendee_id}", confirm: "Are you sure?", method: :delete do %>
                <p class="bg-yellow py-2 px-8 ml-4 rounded-2xl shadow-md active:shadow-lg transition duration-150 ease-in-out uppercase text-darkblue text-md cursor-pointer" ><strong>Cancel</strong></p>
              <% end %>
              <%# if you're organizer, doesn't show the apply button %>
            <% elsif current_user.id == @trip.organizer.id %>
              <%# apply button for attendees %>
            <% else %>
              <%= button_to [@trip, :attendees] do %>
                <p class="bg-yellow py-2 px-8 ml-4 rounded-2xl shadow-md active:shadow-lg transition duration-150 ease-in-out uppercase text-darkblue text-md cursor-pointer" ><strong>Apply</strong></p>
              <% end %>
            <% end %>
          <% end %>

        </div>
      </div>
      <div class="absolute right-4 bottom-6">
        <% @trip.activities.each do |tag|  %>
          <div class="rounded-full px-3 text-center bg-yellow py-2 mt-3 gap-2">
            <h3 class="text-sm text-white"> <%= tag %> </h3>
          </div>
        <% end %>
      </div>
    </div>
    <div class="grid grid-cols-2 ml-4 gap-4">
      <% @trip.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
  </div>
  <div class="rounded-2xl mt-10 ">
    <div class="flex">
      <h3 class="ml-4 text-slate-400 text-base mr-10"> <%= @trip.start_date %> - <%= @trip.end_date %>  </h3>
      <h6 class= "text-sm mr-4  ">Are pets allowed?   </h6>
      <% if @trip.pets == true  %>
        <i class="fa-solid fa-dog"></i>
      <% else %>
        <i class="fa-sharp fa-solid fa-ban"></i>
      <% end %>
    </div>
    <div class="flex pb-8 ml-4 ">
      <%# left %>
      <div class="mr-24 w-1/2">
        <%# tabs %>
        <div class="tabs">
          <input type="radio" class="tabs__radio" name="tab-" id="tab1" checked>
          <label for="tab1" class="tabs__label">About</label>
          <div class="tabs__content">
            <h2 class><%= @trip.trip_name.capitalize %></h2>
            <h3 class="text-sm"><%= @trip.description.capitalize %></h3>
          </div>
          <input type="radio" class="tabs__radio" name="tab-" id="tab2" >
          <label for="tab2" class="tabs__label">Comment</label>
          <div class="tabs__content">
            <% if (user_signed_in?) then %>
              <h2 class="text-2xl"> <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> </h2>
              <%= simple_form_for [@trip, @message] do |f| %>
                <div>
                  <%= f.input :comment, :as => :text, label: false, input_html: { class:"w-full h-40" } %>
                </div>
                <div>
                  <%= f.button :submit, :value => "Send", input_html: { class:"ml-24 bg-yellow py-8 px-12 border-2" } %>
                </div>
              <% end %>
              <div class= "shadow-lg border-2 rounded-xl">
                <% @trip.messages.each do |message| %>
                  <h3 class="text-sm mx-4 my-4"><%= message.user.first_name %></h3>
                  <h3 class="text-xs mx-6  my-4" ><%= message.comment %></h3>
                <% end %>
              </div>
            <% else %>
              You need to log in to see the comments
            <% end %>
          </div>
        </div>
      </div>
      <%# right %>
      <div class="ml-24 mb-4 w-full h-full">
        <h3 class="text-base">Organized by:</h3>
        <div class="flex mb-14 mt-4">
          <%= link_to user_path(@trip.organizer.id) do %>
            <img src= <%= @trip.organizer.avatar %> class="rounded-full"  style="height: 64px; width: 64px; border-color: #eeba0b; border-width: medium;" alt="" loading="lazy"  />
            <h3 class="ml-2 mt-3 text-lg"><%= @trip.organizer.first_name.capitalize %> <%= @trip.organizer.last_name.capitalize %></h3>
          <% end %>
        </div>
        <h3>Attendees</h3>
        <%# If signed in %>
        <% if (user_signed_in?) then %>
          <%# If organizer %>
          <% if current_user.id == @trip.organizer.id then %>
            <%# tabs %>
            <div class="tabs shadow-lg rounded-xl mt-6 mb-4">
              <input type="radio" class="tabs__radio" name="tab-2" id="tab3" checked>
              <label for="tab3" class="tabs__label mb-2">Requests</label>
              <div class="ml-2 tabs__content">

                <%# List attendees requesting %>
                <div class="p-2">
                  <% @trip.attendees.each do |attendee| %>
                    <% if attendee.approved == false %>
                      <div class="flex">
                        <%= link_to user_path(attendee.user.id) do %>
                          <div>
                            <img src=<%= attendee.user.avatar %> class="rounded-full"  style="height: 64px; width: 64px; " alt="" loading="lazy"  />
                            <%= attendee.user.first_name %>
                            <%= attendee.user.last_name %>
                          </div>
                        <% end %>
                        <div>
                          <a href="" class="bg-yellow py-2 px-4 rounded-2xl ">Accept</a>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <%# list attendees confirmed %>
              <input type="radio" class="tabs__radio" name="tab-2" id="tab4" >
              <label for="tab4" class="tabs__label mb-2">Confirmed</label>
              <div class="ml-2 tabs__content">
                <%# list all confirmed %>
                <div class="grid grid-cols-3 p-2">
                  <% @trip.attendees.each do |attendee| %>
                    <% if attendee.approved == true %>
                      <div class="align-middle">
                        <a href=""><img src=<%= attendee.user.avatar %> class="rounded-full"  style="height: 64px; width: 64px; " alt="" loading="lazy"  /></a>
                      </div>
                      <div class="align-middle">
                        <%= attendee.user.first_name %>
                        <%= attendee.user.last_name %>
                      </div>
                      <div class="align-middle">
                        <a href="" class="bg-yellow py-2 px-4 rounded-2xl ">Remove</a>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <%# if not the organizer %>
          <% else %>
            <div>
              <% if @trip.attendees.count == 0 %>
                <h2 class="text-base mt-4"> Be the first to sign-up! </h2>

              <% elsif @trip.attendees.count == 1  %>
                <h2 class="text-base mt-4"> <%= @trip.attendees.count %> person is going </h2>

              <% elsif @trip.attendees.count >= 2 %>
                <h2 class="text-base mt-4"> <%= @trip.attendees.count %> other people are going </h2>
              <% end %>
            </div>

              <div class="flex mt-4 gap-x-4">
                <% @trip.attendees.each do |attendee| %>
                  <%= link_to user_path(attendee.user.id) do %>
                    <div>
                      <img src=<%= attendee.user.avatar %> class="rounded-full"  style="height: 64px; width: 64px; " alt="" loading="lazy"  />
                      <%= attendee.user.first_name %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
          <%# If not signed in %>
        <% else %>
          <div>

            <% if @trip.attendees.count-1 == 0  %>
              <h2 class="text-base mt-4"> Be the first to sign-up! </h2>

            <% elsif @trip.attendees.count == 1  %>
              <h2 class="text-base mt-4"> <%= @trip.attendees.count %> person is going </h2>

            <% elsif @trip.attendees.count >= 2 %>
              <h2 class="text-base mt-4"> <%= @trip.attendees.count %> other people are going </h2>
            <% end %>
            </div>

        <% end %>
      </div>
    </div>

  </div>
</div>
