<% if current_user.id == @user.id then %>
    <%# Current user profile %>
    <div class="h-96 bg-transparent">
      <%# Banner %>
      <div class="relative">
        <div class="px-2 flex-wrap">
          <div class="bg-no-repeat bg-cover bg-center h-40 rounded-t-lg my-2 md:my-10 mx-1 md:mx-10" style="background-position: 50%; background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/146.webp');">
        </div>
      </div>
      <%# Avatar/ User details %>
        <div class="absolute left-6 md:left-16 top-5 md:top-0 ">
          <div class="w-14 md:w-28 mt-28">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag(current_user.avatar.key, crop: :thumb, gravity: :face, class: "rounded-full h-28 w-28")%>
            <% else %>
              <%= image_tag "icons.png", class:"rounded-full w-28 h-28" %>
            <% end %>
          </div>
          <div class="pl-20 md:pl-32 pt-10 md:pt-0">
            <h1 class="text-xl text-white -mt-24"><%= current_user.first_name %> <%= current_user.last_name %></h1>
            <p class="text-base mt-2 break-words"> <%= current_user.email %></p>
            <h3 class="text-sm"><%= current_user.description %></h3>
          </div>
        </div>
        <%# Icons %>
        <div class="absolute text-white bottom-0 md:bottom-8 top-2 md:top-24 left-5 md:left-48 ">

            <%= link_to edit_user_registration_path do %>
              <i class="fa-solid fa-user-pen hover:text-yellow text-xl"></i>
            <% end %>
        </div>
        <%# Button %>
        <div class="absolute bottom-2 md:bottom-5 right-2 md:right-12">
          <%= link_to new_trip_path do %>
            <button type="button" class="mr-2 h-10 p-2 md:px-4 py-2.5 md:py-0 bg-yellow hover:bg-darkblue text-darkblue  hover:text-white font-bold text-xs md:text-lg leading-tight rounded-lg">
              Create a new trip
            </button>
          <% end %>
        </div>
      </div>
    </div>
    <%# Photos %>
    <div class="container grid grid-cols-1 md:grid-cols-2 gap-y-10 gap-x-10 px-3 md:px-10 -mt-36">
      <div>
        <div class="flex justify-between">
          <p class="text-xl font-bold">Photos</p>
          <%# <p class="text-base font-bold underline">Upload</p> %>

<%# upload button modal %>

          <button type="button" class=" text-black hover:text-darkblue font-medium text-sm uppercase hover:underline" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">
            Upload
          </button>



          <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none">
              <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                  <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalCenteredScrollableLabel">
                    Let's upload some photos of you!
                  </h5>
                  <button type="button"
                    class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                    data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <%= simple_form_for (@user) do |f| %>
                <div class="modal-body relative p-4">
                    <%= f.input :photos, as: :file, wrapper_html: { class: "mt-8 w-96" }, hint: "Please upload 5 pictures", hint_html: {class: "text-gray-500"}, input_html: { multiple: true, class: "mb-4 mt-4 w-96"}, label: false %>
                </div>
                <div
                  class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                  <button type="button"
                    class="inline-block px-6 py-2.5 bg-darkblue text-white hover:text-darkblue font-medium text-sm leading-tight uppercase rounded shadow-md hover:bg-yellow hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
                    data-bs-dismiss="modal">
                    Close
                  </button>
                  <div class="flex justify-start">
                    <%= f.submit "Upload", class: " ml-8 btn item-center w-48 bg-yellow hover:bg-darkblue text-darkblue hover:text-white font-bold text-sm font-bold leading-tight uppercase rounded shadow-md" %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>





<%# end modal %>




          <%#= simple_form_for current_user do |f| %>
            <%#= f.input :photos, as: :file, label: false %>
            <%#= f.submit "SUBMIT" %>
          <%# end %>
        <div class="">
          <profile-photos-swiper :images="<%= @images.to_json %>" />
        </div>
      </div>


      <%# My Trips %>
      <div>
        <%# <div > %>
          <div>
            <p class="text-xl font-bold">My Trips</p>
          </div>




        <div class="mt-2">

            <profile-photos-swiper :images="<%= @current_trips.to_json %>" />

        </div>
      </div>

      <%# Previous Trips cards %>
      <div>
      <div>
        <p class="text-xl font-bold">Previous Trips</p>
      </div>
        <div class="mt-2">

            <profile-photos-swiper :images="<%= @past_trips.to_json %>" />

        </div>
      </div>

      <%# Upcoming Trips %>
      <div>
      <div>
        <p class="text-xl font-bold">Upcoming Trips</p>
      </div>
        <div class="mt-2">

            <profile-photos-swiper :images="<%= @future_trips.to_json %>" />

        </div>
      </div>
    <%# </div> %>

<% else %>
    <%# Other users profile %>
    <div class="h-96 bg-transparent">
    <%# Banner %>
    <div class="relative">
      <div class="px-2 flex-wrap">
        <div class="bg-no-repeat bg-cover bg-center h-40 rounded-t-lg my-2 md:my-10 mx-1 md:mx-10" style="background-position: 50%; background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/146.webp');">
      </div>
    </div>
    <%# Avatar/ User details %>
      <div class="absolute left-6 md:left-16 top-5 md:top-0">
        <div class="w-14 md:w-28 mt-28">
          <% if @user.avatar.attached? %>
            <%= cl_image_tag(@user.avatar.key, crop: :thumb, gravity: :face, class: "rounded-full h-28 w-28 bg-center") %>
          <% else %>
            <%= image_tag "icons.png", class:"rounded-full w-28 h-28" %>
          <% end %>
        </div>
        <div class="pl-20 md:pl-32 pt-10 md:pt-0">
          <h1 class="text-xl text-white -mt-24"><%= @user.first_name %> <%= @user.last_name %></h1>
          <p class="text-base mt-2 break-words"> <%= @user.email %></p>
          <h3 class="text-sm"><small><%= @user.phone_number %></small></h3>
        </div>
      </div>
      <%# Icons %>
      <div class="absolute text-white bottom-0 md:bottom-8 top-2 md:top-20 left-5 md:left-48">
          <i class="fa-solid fa-thumbs-up hover:text-yellow text-2xl mr-2 -z-10"></i>
            <%# Red Flag Icon %>
            <button type="button" class="text-white font-medium text-xs -z-10" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
              <i class="fa-solid fa-flag hover:text-red-700 text-xl mr-2"></i>
            </button>
              <!-- Modal -->
            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
              id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-hidden="true">
              <div class="modal-dialog modal-fullscreen relative w-auto pointer-events-none">
                <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                  <div class="modal-header flex flex-shrink-0 items-center justify-center p-4 border-b border-gray-200 rounded-lg">
                    <h5 class="text-xl items-center justify-center font-bold leading-normal text-darkblue" id="exampleModalFullscreenLabel">
                      Report a user
                    </h5>
                    <button type="button" class="btn-close box-content w-4 h-4 p-1 text-darkblue rounded-lg"
                    data-bs-dismiss="modal" aria-label="Close">
                    </button>
                  </div>

                  <div class="modal-body relative p-4">
                    <p class="text-darkblue text-center text-lg">Thank you for looking out for yourself and our community by reporting users who break our rules. <br> Let us know what is happening and we will look into it.</p>
                    <%#= simple_form_for [@user, @user_flag] do |f| %>
                    <%= simple_form_for UserFlag.new do |f| %>
                      <%= f.input :comment, placeholder: "Tell us why you think this user is violating our community guidelines.", required: true, wrapper_html: { class: "mt-10 px-8 w-full" }, input_html: { class: "text-darkblue border outline-darkblue w-full"} %>
                      <%= f.submit "SUBMIT", class: "mt-10 ml-40 btn item-center w-1/3 px-6 py-2.5 bg-yellow text-darkblue font-bold text-sm font-bold leading-tight uppercase rounded shadow-md" %>
                    <% end %>
                  </div>


                  <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-center p-4">
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>

  <%# Photos %>
    <div class="container grid grid-cols-1 md:grid-cols-2 gap-y-10 gap-x-10 px-3 md:px-10 -mt-36">
    <div>
    <div class="flex flex-row">
      <p class="text-xl font-bold -mb-8">Photos</p>
    </div>
      <div class="container">
        <profile-photos-swiper :images="<%= @images.to_json %>" />
      </div>
    </div>

  <%# My Trips %>
    <div>
      <p class="text-xl font-bold -mb-8">My Trips</p>
      <div class="container">
        <a href="">
          <profile-photos-swiper :images="<%= @current_trips.to_json %>" />
        </a>
      </div>
    </div>

  <%# Previous Trips cards %>
    <div>
      <p class="text-xl font-bold -mb-8">Previous Trips</p>
      <div class="container">
        <a href="">
          <profile-photos-swiper :images="<%= @past_trips.to_json %>" />
        </a>
      </div>
    </div>

  <%# Upcoming Trips %>
    <div>
      <p class="text-xl font-bold -mb-8">Upcoming Trips</p>
      <div class="container">
        <a href="">
          <profile-photos-swiper :images="<%= @future_trips.to_json %>" />
        </a>
      </div>
    </div>
  </div>
<% end %>
