<nav class="px-8 py-4 flex flex-wrap items-center shared_navbar shadow-xl sticky top-0 bg-darkblue relative z-10">
  <%# logo %>
  <div class="h-14 flex text-center text-xl font-semibold items-center w-full justify-between bg-transparent">
    <%= link_to root_path do %>
      <div class="flex items-center">
        <div class="m-3 flex h-16 w-16 items-center">
          <%= image_tag "logo.png", height: 16, width: 16 %>
          <div class="m-3">
            <h1 class="logo text-yellow text-6xl">Compas</h1>
          </div>
        </div>
      </div>
    <% end %>
    <%# search %>
    <%# <div class="flex justify-center"> %>
      <%# <%= render 'trips/search' %>
    <%# </div> %>
    <%# dropdown and avatar %>
    <div class="dropdown relative">
      <% if (user_signed_in?) then %>
        <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar" class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 ring-4 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" type="button">
          <span class="sr-only"></span>
          <img class="w-12 h-12 rounded-full" src=<%= current_user.avatar %> alt="user photo">
        </button>
      <% else %>
        <button id="dropdownUserAvatarButton" data-dropdown-toggle="dropdownAvatar" class="" type="button">
          <span class="sr-only"></span>
          <%= image_tag "bars.png", class: "w-14 h-12" %>
        </button>
      <% end %>
      <!-- Dropdown menu -->
      <div id="dropdownAvatar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
          <% if (user_signed_in?) then %>
            <div><%= current_user.first_name %> <%= current_user.last_name %></div>
            <div class="font-medium truncate"><%= current_user.email %></div>
          <% else %>
            <div class="block px-4 py-2 dark:hover:bg-gray-600 dark:hover:text-white text-yellow bg-darkblue rounded-md"><%= link_to 'Sign Up', new_user_registration_path %></div>
          <% end %>
        </div>
        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
          <li>
            <% if (user_signed_in?) then %>
              <%= link_to user_path(current_user.id) do %>
                <p class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View Profile</p>
              <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to trips_path do %>
              <p class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Trips</p>
            <% end %>
          </li>
          <li>
            <%= link_to quizzes_path do %>
              <p class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Quiz</p>
            <% end %>
          </li>
        </ul>
        <div class="py-1">
          <% if (user_signed_in?) then %>
            <%= button_to destroy_user_session_path, method: :delete do %>
              <p class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</p>
            <% end %>
          <% else %>
            <%= link_to user_session_path do %>
              <p class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Log in</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>
