<div class="h-96 bg-transparent">
  <%# Banner %>
  <div class="relative" style="z-index: -1">
    <div class="px-2 flex-wrap">
      <div class="bg-no-repeat bg-cover bg-center h-40 rounded-t-lg my-10 mx-10" style="background-position: 50%; background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/146.webp');">
    </div>
  </div>
  <%# Avatar/ User details %>
    <div class="absolute top-0 left-16">
      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-full outline outline-yellow w-28 mt-28"/>
      <div class="pl-32">
        <h1 class="text-xl text-white -mt-24"><%= current_user.first_name%> <%= current_user.last_name%></h1>
        <p class="text-base mt-2 break-words">I'm a 29 year old guy from Iberian peninsula looking for adventure in China</p>
        <h3 class="text-sm"><small>Hiking, Kitesurfing, Industrial Climbing</small></h3>
      </div>
    </div>
    <%# Icons %>
    <div class="absolute bottom-8 left-48 text-white">
      <i class="fa-solid fa-thumbs-up hover:text-yellow text-2xl mr-2 -z-10"></i>
        <%# Red Flag Icon %>
        <button type="button" class="text-white font-medium text-xs -z-10" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
          <i class="fa-solid fa-flag hover:text-red-700 text-xl mr-2"></i>
        </button>
          <!-- Modal -->
          <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
            id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen relative w-auto pointer-events-none">
              <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                <div class="modal-header flex flex-shrink-0 items-center justify-center p-4 border-b border-gray-200 rounded-lg">
                  <h5 class="text-xl items-center justify-center font-bold leading-normal text-darkblue" id="exampleModalFullscreenLabel">
                    Report an user
                  </h5>
                  <button type="button" class="btn-close box-content w-4 h-4 p-1 text-darkblue rounded-lg"
                  data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>

                <div class="modal-body relative p-4">
                  <p class="text-darkblue text-center text-lg">Thank you for looking out for yourself and our community by reporting users who break our rules. <br> Let us know what’s happening and we’ll look into it.</p>
                  <%#= simple_form_for [@user, @user_flag] do |f| %>
                  <%= simple_form_for UserFlag.new do |f| %>
                    <%= f.input :comment, placeholder: "Tell us why you think this user is violating our community guidelines.", required: true, wrapper_html: { class: "mt-10 px-8 w-full" }, input_html: { class: "text-darkblue border outline-darkblue w-full"} %>
                    <%= f.submit "SUBMIT", class: "mt-10 ml-40 btn item-center w-1/3 px-6 py-2.5 bg-yellow text-darkblue font-bold text-sm font-bold leading-tight uppercase rounded shadow-md" %>
                  <% end %>
                </div>


                <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-center p-4">
                </div>
              </div>
            </div>
          </div>

        <%= link_to edit_user_registration_path do %>
          <i class="fa-solid fa-user-pen hover:text-yellow text-xl"></i>
        <% end %>
    </div>
    <%# Button %>
    <div class="absolute top-0 right-12">
      <%= link_to new_trip_path do %>
        <button type="button" class="mt-28 mr-4 inline-block h-10 px-4 py-2.5 bg-yellow text-darkblue font-bold text-xs leading-tight rounded-lg">
          Create A New Trip
        </button>
      <% end %>
    </div>
</div>
</div>

<%# Photos %>
<div class="container grid grid-cols-2 gap-y-10 gap-x-10 px-10 -mt-36">
  <div>
    <p class="text-xl font-bold -mb-8">Photos</p>
    <div class="container">
      <profile-photos-swiper :images="<%= @images.to_json %>" />
    </div>
  </div>

<%# My Trips %>
  <div>
    <p class="text-xl font-bold -mb-8">My Trips</p>
    <div class="container">
      <a href="">
        <profile-photos-swiper :images="<%= @images.to_json %>" />
      </a>
    </div>
  </div>

<%# Previous Trips cards %>
  <div>
    <p class="text-xl font-bold -mb-8">Previous Trips</p>
    <div class="container">
      <a href="">
        <profile-photos-swiper :images="<%= @images.to_json %>" />
      </a>
    </div>
  </div>

<%# Upcoming Trips %>
  <div>
    <p class="text-xl font-bold -mb-8">Upcoming Trips</p>
    <div class="container">
      <a href="">
        <profile-photos-swiper :images="<%= @images.to_json %>" />
      </a>
    </div>
  </div>
</div>
