<% @nav = false  %>
<% @foot = false  %>
<% @scrollbutton = false %>

<div class="flex">

  <div class="flex w-1/2 h-screen">
    <img src="https://images.unsplash.com/photo-1500049242364-5f500807cdd7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHRyYXZlbCUyMHdpdGglMjBmcmllbmRzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=800&q=60">
  </div>

  <div class="grid grid-rows place-content-center ml-48">

      <h2 class="text-darkblue uppercase mb-20">Welcome back!</h2>

      <div class="ml-12">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),
          data: {turbo: false}) do |f| %>
          <div class="field mt-4">
            <%= f.label :email, class: "text-base text-gray-600"%><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md border-transparent	drop-shadow" %>
          </div>

          <div class="field mt-4">
            <%= f.label :password, class:"text-base text-gray-600" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "rounded-md border-transparent	drop-shadow" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mt-2">
              <%= f.check_box :remember_me, class:"rounded" %>
              <%= f.label :remember_me, class: "ml-2 text-base text-gray-500" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: "mb-4 mt-6 btn bg-yellow text-darkblue text-sm font-bold leading-tight rounded shadow-md w-48" %>
          </div>
        <% end %>

        <p class="text-gray-500 ml-6 text-sm">Dont have an account?</p>
        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
