<!DOCTYPE html>
<html>
  <head>
    <title>COMPAS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f9faa6a861.js" crossorigin="anonymous"></script>

    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
    <link href="/dist/output.css" rel="stylesheet">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/flashes" %>

    <%# <div class="flex flex-col h-screen"> %>


    <div class="flex flex-col">
      <%= render "shared/navbar" unless @disable_nav %>
      <div id="vue">
        <%= yield %>
      </div>
      <%= render "shared/footer" unless @disable_nav %>
    </div>
  </body>
</html>
