<!DOCTYPE html>
<html>
  <head>
    <title>Compas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <%= vite_javascript_tag 'application' %>
    <%# <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script> %>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9faa6a861.js" crossorigin="anonymous"></script>
    <%# <script src="../path/to/flowbite/dist/flowbite.min.js"></script> %>
    <%# <link rel="stylesheet" href="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.css" /> %>
    <%# <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script> %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <script src="https://unpkg.com/flowbite@1.6.0/dist/datepicker.js"></script>
    <%# <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script> %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'


      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
    <%# <link href="/dist/output.css" rel="stylesheet"> %>
  </head>
  <body class="flex flex-col min-h-screen">
    <% unless @nav == false %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <%# <div class="flex flex-col h-screen"> %>
    <% if devise_controller? %>
      <%= yield %>
    <% elsif controller.controller_name == 'users' %>
      <div class="flex-grow">
        <%= yield %>
      </div>
    <% else %>
      <div id="vue" class="flex-grow">
        <%= yield %>
        <% unless @scrollbutton == false %>
          <%= render "shared/scroll_up" %>
        <% end %>
      </div>
    <% end %>
    <%# </div> %>
    <% unless @foot == false %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
</html>
